/* FIND THE STORE  */
.find-store {
    background-image: url('../../images/find_store_bg.jpg');
}
.find-store .inner {
    height: 400px;
}
.find-store .texture1 {
    position: absolute;
    top: 0;
    left: 400px;
}
.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.find-store .picture {
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
    position: absolute;
}
.find-store .picture1 {
    top: -60px;
    left: 0;
}
.find-store .picture2 {
    top: 150px;
    left: 250;
}
.find-store .text-group {
    position: absolute;
    top: 120px;
    left: 550px;
}
.find-store .text-group .title {
    margin-bottom: 20px;
}
.find-store .text-group .description {
    margin-bottom: 20px;
}